.background {
    background-image: url(../images/owl-background.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}